<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">

<th:block layout:fragment="css">
    <style>
        body {
            background-color:$[[${color}]]
        }
    </style>
</th:block>

<body th:style="|background-color:${color}|">
<div layout:fragment="content">
    <div align="center">
        <h2 th:text="|${word} 금|">입출금</h2>
        <hr>
        <span style="color:blue" th:text="${id}">id</span>님,
        <span th:text="${word}">입출</span>금액을 입력해주세요.<br> <hr><p>
        <form method="post" th:action="${url}">
            <span th:text="${word}">입출</span>금:
            <input type="number" name="money"> 원 <p>
            <input type="submit" th:value="|${word}금진행|">
        </form>
        <a href="/menu">menu</a>
    </div>

</div>
</body>
</html>